<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wanandroid"
        tools:targetApi="31">
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108139905" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Wanandroid.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.article.ArticleActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.main.SearchActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.article.ArticlesActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.article.TreeActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.article.WechatActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.article.SubListActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.AboutActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.user.RankingActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.user.LoginActivity" />
        <activity android:name="com.jiangyy.wanandroid.ui.user.CoinHistoryActivity" />
        <activity android:name="com.jiangyy.wanandroid.wxapi.WXEntryActivity" />
    </application>

</manifest>